@tailwind base;
@tailwind components;
@tailwind utilities;

.debug,
.debug1 {
  box-shadow: 0 0 0 4px red;
}

.debug2 {
  box-shadow: 0 0 0 3px blue;
}

.debug3 {
  box-shadow: 0 0 0 2px lime;
}

.debug4 {
  box-shadow: 0 0 0 1px yellow;
}

.debug5 {
  box-shadow: 0 0 0 1px aqua;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
